@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, rgb(87, 87, 87) , rgb(29, 29, 29), rgb(40, 40, 39));
    color: white;
    font-family: sans-serif;
}